body {
    background-color: white;
}

.dot {
    stroke: #000;
}
.tooltip {
    position: absolute;
    width: 200px;
    height: 80px;
    pointer-events: none;
    font-size: 18px;
    background: lightsteelblue;
}

.bar {
  fill: blue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#titleheader {
  text-align: center;
}

#logo {
  position: absolute;
  top: 2px;
  left: 2px;
}

#dateslider {
  width: 900px;
  margin-left: 26px;
}

#mappicture {
  margin-top: 50px;
  margin-left: 40px;
}